<section class="section faq-section">
  <div class="container">
    <div class="row">
      <div class="wrapper faq-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">FAQ</h2>
        </div>
      </div>
      <div class="wrapper faq-block-wrapper">
        <div class="faq-question-cards__row">
          <div class="card faq-question-card">
            <div class="card__text-block faq-question-card__text-block">
              <p class="card__title faq-question-card__title">Вопросик</p>
              <p class="card__subtitle faq-question-card__subtitle">Подвопросик</p>
            </div>
          </div>
        </div>
        <div class="card faq-answer-card">
          <div class="card__text-block faq-answer__text-block">
            <h3 class="card__title faq-answer__title">Заголовок ответика</h3>
            <p class="card__text faq-answer__text">Текст ответика</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
