<section class="section faq-section">
  <div class="container">
    <div class="row">
      <div class="wrapper faq-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">FAQ</h2>
        </div>
      </div>
      <div class="wrapper faq-block-wrapper">
        <div class="faq-question-cards__row">
          <div class="card faq-question-card">
            <div class="card__text-block faq-question-card__text-block">
              <p class="card__title faq-question-card__title">Стоимость услуг</p>
              <p class="card__subtitle faq-question-card__subtitle">Исходя из чего формируется стоимость услуг и как можно узнать ее заранее узнать?</p>
            </div>
          </div>
          <div class="card faq-question-card">
            <div class="card__text-block faq-question-card__text-block">
              <p class="card__title faq-question-card__title">Стоимость услуг</p>
              <p class="card__subtitle faq-question-card__subtitle">Исходя из чего формируется стоимость услуг и как можно узнать ее заранее узнать?</p>
            </div>
          </div>
          <div class="card faq-question-card">
            <div class="card__text-block faq-question-card__text-block">
              <p class="card__title faq-question-card__title">Стоимость услуг</p>
              <p class="card__subtitle faq-question-card__subtitle">Исходя из чего формируется стоимость услуг и как можно узнать ее заранее узнать?</p>
            </div>
          </div>
          <div class="card faq-question-card">
            <div class="card__text-block faq-question-card__text-block">
              <p class="card__title faq-question-card__title">Стоимость услуг</p>
              <p class="card__subtitle faq-question-card__subtitle">Исходя из чего формируется стоимость услуг и как можно узнать ее заранее узнать?</p>
            </div>
          </div>
        </div>
        <div class="card faq-answer-card">
          <div class="card__text-block faq-answer__text-block">
            <h3 class="card__title faq-answer__title">Формирование стоимости услуг</h3>
            <p class="card__text faq-answer__text">Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.<br><br>Задача организации, в особенности же консультация с широким активом требуют определения и уточнения существенных финансовых и административных условий.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
