<app-header></app-header>
<app-profit-section></app-profit-section>
<app-clients-type-section></app-clients-type-section>
<app-statistics-section></app-statistics-section>
<app-timeline-section></app-timeline-section>
<app-cases-section></app-cases-section>
<app-reviews-section></app-reviews-section>
<app-work-description-section></app-work-description-section>
<app-calc-section></app-calc-section>
<app-team-section></app-team-section>
<app-faq-section></app-faq-section>
<app-contacts-section></app-contacts-section>
<app-footer></app-footer>
