<section class="section reviews-section">
  <div class="container">
    <div class="row">
      <div class="wrapper reviews-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Заголовок экрана отзывов</h2>
        </div>
      </div>
      <div class="wrapper reviews-blocks-wrapper">
        <div class="card review-card">
          <div class="card__text-block review-card__text-block">
            <h3 class="card__title review-card__title">Заголовок отзыва</h3>
            <p class="card__subtitle review-card__subtitle">Не следует, однако забывать, что сложившаяся структура организации способствует подготовки и реализации новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом позволяет оценить значение модели развития.</p>
          </div>
          <div class="review-card__author-block">
            <div class="card__image-block review-card__image-block">
              <img src="../../../assets/images/avatar_test.jpeg" alt="" class="card__image review-card__image">
            </div>
            <div class="card__text-block review-card__text-block review-card__text-block_author">
              <h3 class="card__title review-card__title review-card__title_author">Имя автора отзыва</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
