<section class="section profit-section">
  <div class="container">
    <div class="row">
      <div class="wrapper profit-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Выгода от сотрудничества с нами</h2>
        </div>
      </div>
      <div class="wrapper profit-cards-wrapper">
        <div class="card profit-card">
          <div class="card__image-block profit-card__image-block">
            <img src="../../../assets/images/test_icon.svg" alt="" class="card__image profit-card__image">
          </div>
          <div class="card__text-block profit-card__text-block">
            <h3 class="card__title profit-card__title">Одобрение из дома</h3>
            <p class="card__text profit-card__text">Все документы заберет наш курьер - Вам останется только приехать в Банк за деньгами после одобрения</p>
          </div>
        </div>
        <div class="card profit-card">
          <div class="card__image-block profit-card__image-block">
            <img src="../../../assets/images/test_icon.svg" alt="" class="card__image profit-card__image">
          </div>
          <div class="card__text-block profit-card__text-block">
            <h3 class="card__title profit-card__title">Заголовок карточки профита</h3>
            <p class="card__text profit-card__text">Некоторый текст карточки профита</p>
          </div>
        </div>
        <div class="card profit-card">
          <div class="card__image-block profit-card__image-block">
            <img src="../../../assets/images/test_icon.svg" alt="" class="card__image profit-card__image">
          </div>
          <div class="card__text-block profit-card__text-block">
            <h3 class="card__title profit-card__title">Заголовок карточки профита</h3>
            <p class="card__text profit-card__text">Некоторый текст карточки профита</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
