<section class="section profit-section">
  <div class="container">
    <div class="row">
      <div class="wrapper profit-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Заголовок экрана про выгоду</h2>
        </div>
      </div>
      <div class="wrapper profit-cards-wrapper">
        <div class="card profit-card">
          <div class="profit-card__image-block">
            <img src="#" alt="" class="profit-card__image">
          </div>
          <div class="card__text-block profit-card__text-block">
            <p class="card__title profit-card__title">Заголовок карточки профита</p>
            <p class="card__text profit-card__text">Некоторый текст карточки профита</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
