<section class="section work-description-section">
  <div class="container">
    <div class="row">
      <div class="wrapper work-description-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Заголовок экрана о работе</h2>
        </div>
      </div>
      <div class="wrapper work-description-blocks-wrapper">
        <div class="work-description__cards-row">
          <div class="card work-description-card">
            <div class="card__text-block work-description-card__text-block">
              <span class="work-description-card__count"></span>
              <h3 class="card__title work-description__title">Заголовок о работе</h3>
              <p class="card__text work-description-card__text">Объяснение принципа работы номер раз</p>
            </div>
          </div>
        </div>
        <div class="work-description__control-block">
          <div class="work-description__progress-bar">

          </div>
          <div class="work-description__buttons-block">
            <button class="button work-description__control-button work-description__control-button_prev">Назад</button>
            <button class="button work-description__control-button work-description__control-button_next">Вперед</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
