<section class="section team-section">
  <div class="container">
    <div class="row">
      <div class="wrapper team-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Наш дримтим</h2>
        </div>
      </div>
      <div class="wrapper team-cards-wrapper">
        <div class="card team-card">
          <div class="card__image-block team-card__image-block">
            <img src="#" alt="" class="team-card__image">
          </div>
          <div class="card__text-block team-card__text-block">
            <h3 class="card__title team-card__title">Имя Участника Команды</h3>
            <button class="button card__button team-card__button">Show More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
