<section class="section team-section">
  <div class="container">
    <div class="row">
      <div class="wrapper team-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Наш дримтим</h2>
        </div>
      </div>
      <div class="wrapper team-cards-wrapper">
        <div class="card team-card">
          <div class="card__text-block team-card__text-block team-card__text-block_status">
            <p class="card__text team-card__text team-card__text_status">Гендир</p>
          </div>
          <div class="card__image-block team-card__image-block">
            <img src="../../../assets/images/avatar_test.jpeg" alt="" class="card__image team-card__image">
          </div>
          <div class="card__text-block team-card__text-block team-card__text-block_name">
            <h3 class="card__title team-card__title">Лев Толстой</h3>
            <button class="button button_blue card__button team-card__button">?</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
