<section class="section timeline-section">
  <div class="container">
    <div class="row">
      <div class="wrapper timeline-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Заголовок экрана с таймлайном</h2>
        </div>
      </div>
      <div class="wrapper timeline-wrapper">
        <div class="timeline-block__wrapper">
          <div class="card timeline-card">
            <div class="card__text-block timeline-card__text-block">
              <h3 class="card__title timeline-card__title">Действие 1</h3>
              <p class="card__text timeline-card__text">Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений.</p>
            </div>
          </div>
          <span class="timeline-block__line"></span>
          <div class="timeline__count-block">
            <span class="timeline__count">1</span>
          </div>
        </div>
        <div class="timeline-block__wrapper">
          <div class="card timeline-card">
            <div class="card__text-block timeline-card__text-block">
              <h3 class="card__title timeline-card__title">Действие ...</h3>
              <p class="card__text timeline-card__text">Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений.</p>
            </div>
          </div>
          <span class="timeline-block__line"></span>
          <div class="timeline__count-block">
            <span class="timeline__count">...</span>
          </div>
        </div>
        <div class="timeline-block__wrapper">
          <div class="card timeline-card">
            <div class="card__text-block timeline-card__text-block">
              <h3 class="card__title timeline-card__title">Действие N</h3>
              <p class="card__text timeline-card__text">Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание новых предложений.</p>
            </div>
          </div>
          <span class="timeline-block__line"></span>
          <div class="timeline__count-block">
            <span class="timeline__count">N</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
