<header class="header">
  <div class="container">
    <div class="row">
      <div class="wrapper wrapper_half">
        <div class="page-title__block">
          <h1 class="page-title__title">Одобрение ипотеки с плохой кредитной историей и с нулевым первым взносом</h1>
          <p class="page-title__subtitle">Поможем даже если Вам отказали банки или нет официального подтверждения доходов</p>
        </div>
      </div>
      <div class="wrapper wrapper_half">
        <div class="page-image__block">
          <img src="#" alt="" class="page-image__image">
        </div>
      </div>
    </div>
  </div>
</header>
