<section class="section cases-section">
  <div class="container">
    <div class="row">
      <div class="wrapper cases-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Наши кейсы</h2>
        </div>
      </div>
      <div class="wrapper cases-wrapper">
        <div class="card case-card">
          <div class="card__header case-card__header">
            <div class="card__image-block case-card__image-block">
              <img src="../../../assets/images/avatar_test.jpeg" alt="" class="card__image case-card__image case-card__image_manager">
            </div>
            <div class="card__text-block case-card__text-block case-card__text-block_header">
              <h4 class="card__title case-card__title case-card__title_header">Роман Галанкин</h4>
              <p class="card__subtitle case-card__subtitle case-card__subtitle_header">Гендир</p>
            </div>
          </div>
          <div class="card__body case-card__body">
            <div class="card__text-block case-card__text-block case-card__text-block_body">
              <h3 class="card__title case-card__title case-card__title_body">Ипотека на 5 миллионов без первого взноса</h3>
              <p class="card__text case-card__text case-card__text_calendar"><span><img src="../../../assets/images/calendar.svg" alt=""
                                                                                        class="case-card__calendar-icon"></span>20.05.2019</p>
              <p class="card__text case-card__text case-card__text_body">Захватывающая история о том, как мы помогли получить ипотеку официально безработным людям, без первоначального...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
