<section class="section clients-type-section">
  <div class="container">
    <div class="row">
      <div class="wrapper clients-type-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Сможем помочь в разных ситуациях</h2>
        </div>
      </div>
      <div class="wrapper clients-type-wrapper">
        <div class="card clients-type-card">
          <div class="card__text-block clients-type-card__text-block">
            <h3 class="card__title clients-type-card__title">Заголовок типов клиентов</h3>
            <p class="card__text clients-type-card__text">Короткое описание типа клиента, кому оказываем услуги</p>
          </div>
          <div class="card__image-block clients-type-card__image-block ">
            <img src="#" alt="" class="card__image clients-type-card__image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
