<section class="section clients-type-section">
  <div class="container">
    <div class="row">
      <div class="wrapper clients-type-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Заголовок экрана о типах клиентов</h2>
        </div>
      </div>
      <div class="wrapper clients-type-wrapper">
        <div class="text-block clients-type__text-block">
          <h3 class="text-block__title clients-type__title">Заголовок типов клиентов</h3>
          <p class="text-block__text clients-type__text">Короткое описание типа клиента, кому оказываем услуги</p>
        </div>
        <div class="clients-type__image-block">
          <img src="#" alt="" class="clients-type__image">
        </div>
      </div>
    </div>
  </div>
</section>
