<section class="section statistics-section">
  <div class="container">
    <div class="row">
      <div class="wrapper statistics-title-wrapper">
        <div class="page-title__block">
          <h2 class="page-title__title">Заголовок экрана статистики</h2>
        </div>
      </div>
      <div class="wrapper statistics-blocks-wrapper">
        <div class="statistics__control-block">
          <button class="button statistics-control__button statistics-control__button_prev">Назад</button>
          <button class="button statistics-control__button statistics-control__button_next">Вперед</button>
        </div>
        <div class="statistics__card-row">
          <div class="card statistics-card">
            <div class="card__text-block statistics-card__text-block">
              <h3 class="card__title statistics-card__title">2500</h3>
              <p class="card__subtitle statistics-card__subtitle">Сделок</p>
              <p class="card__text statistics-card__text">Рандомный текст с небольшим пояснением цифры</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
